body {
    margin:0;
    padding:0;
    background:blue;
}

h1{
    font-size: 45px;
    font-family: Monotype corsiva;
    padding: 15, 15, 15, 15;
}

h2{
font-size: 20px;
position:auto;
font-family: Arial;
margin: 15px;
}

table{
    position: absolute;
    top: 20%;
    left: 30%;
}
td {
    border: 5px solid black;
    height: 100px;
    width: 100px;
    background: white;
}
#clickon{
height: 50px;
width: 200px;
border: 5px solid black;
text-size: 20px;
position: absolute;
left: 40%;
top: 80%;
}

#fname{
font-size: 15px;
position:absolute;
left: 40%;
top: 50%;

}

fname[type=text]:focus { /* gdy najezdza sie na pole z nickiem to sie zmienia obramowanie */
    -webkit-box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.75);
}

.player_dot {
    height: 25px;
    width: 25px;
    background-color: #133553;
    border-radius: 50%;
}


#labelForFname{
font-size: 20px solid;
position:absolute;
left: 40%;
top: 45%;
}


