{% extends "play.html" %}
{% block title %} Play Toe and Toe {% endblock %}
{% block content %}

<main>
    <div class="container d-flex justify-content-center">
        <div class="row justify-content-center">
              <h1>Noughts & Crosses</h1>
              <p>tutaj będzie opis tej gierki i dlaczego ta nazwa</p>
              <form>
                <label id="labelForFname" for="fname" >Insert your name:</label><br>
                <input type="text" id="fname" name="fname" placeholder="1-10chars" onFocus="this.value=''"><br>
              </form>
<!--              <button id="clickon"><a href="{{url_for('play')}}">Play the game</a></button>-->
              <button id="clickon">Play the game</button>
        </div>
    </div>
</main>

{% endblock %}
