{% extends "play.html" %}
{% block title %} Play Toe and Toe {% endblock %}
{% block content %}

<main>
    <div class="container">
        <div>
              <h1>Noughts & Crosses</h1>
              <h2><i>Noughts & Crosses</i> - preferably called Tic Tac Toe game -  is a paper-and-pencil
                  game for two players, X and O, who take turns marking the spaces in a 3×3 grid. <br>
                  The player who succeeds in placing three of their marks in a diagonal, horizontal,
                  or vertical row is the winner.</h2>
              <form>
                <label id="labelForFname" for="fname" >Insert your name:</label><br>
                <input type="text" id="fname" name="fname" placeholder="1-10chars" onFocus="this.value=''"><br>
              </form>
<!--              <button id="clickon"><a href="{{url_for('play')}}">Play the game</a></button>-->
              <button id="clickon">Play the game</button>
        </div>
    </div>
</main>

{% endblock %}
