<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="shortcut icon" href="#" />  <!--blad favicon.ico -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div id="name_to_display"></div>
    <div id="main-content">
        {% block content %}{% endblock %}
        <script src="static/script.js"></script>
    </div>
    <div id="endgame_text">
    </div>
    <div id="replay_button" style="display: block">
        <button id="replay" style="display: none;">REPLAY</button>
        <div id="endgame-message"></div>
    </div>
</body>
</html>
